python-dotenv==1.0.0
pandas==2.0.3
ytmusicapi==1.2.1
spotipy==2.23.0
aniso8601==9.0.1
requests==2.31.0
apache-airflow==2.7.0

google-cloud-bigquery==3.11.4
google-cloud-bigquery[pandas]
google-auth-oauthlib==1.0.0
google-api-python-client==1.7.2